{% extends 'base.html' %}

{% block title %}
profile detail
{% endblock title %}

{% block content %}
<div class="ui grid">
    {{object}}
    <div class="row">
        <div class="four wide column">
            <img class="ui medium rounded image" src={{object.avatar.url}}>
            <h1>{{object.user}}</h1>
            <div class="ui vertical fluid menu">
                <div class="item">
                    Posts
                    <div class="ui label">{{ object.get_posts_no }} </div>
                </div>
                <div class="item">
                    Likes Given
                    <div class="ui label">{{ object.get_likes_given_no }} </div>
                </div>
                <div class="item">
                    Likes Received
                    <div class="ui label">{{ object.get_likes_received_no }} </div>
                </div>
                <div class="item">
                    Friends
                    <div class="ui label">{{ object.get_friends_no }} </div>
                </div>
            </div>

        </div>
        <div class="twelve wide column">
            {% if len_posts %}
                {% for post in posts %}
                    <div class="segment ui fluid">
                    {{post.content}}
                    </div>
                {% endfor %}
            {% else %}
                <h1> No posts from this user... </h1>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}

